main>.container {
    padding: 40px 0;
}

header>.navbar {
    background-color: #EEC6A8;
}

@font-face {
    font-family: KidsOnTheMoon; 
    src: url(../fuente/KidsOnTheMoon.ttf);
}

.fuente {
    font-family: KidsOnTheMoon;
}

.d-block {
  height: 350px;
}